In [1]:
import pandas as pd

In [2]:
stocks_data = pd.read_excel('stock_trader.xlsx', sheet_name='TRADES')
stocks_data

,DP ID,Client ID,Broker,Transaction Date,Exchange,Scrip,Order Direction,Quantity,Share Price (₹),Brokerage (₹),ETC (₹),SEBI+ (₹),GST (₹),STT (₹),SD (₹),Transaction Time
0,12231800,15003721,5Paisa,2019-07-11,NSE,INDIGO,buy,10,1360.10,0.0,0.403950,0.027202,0.077607,13.60100,2.0,2019-07-11 15:04:10
1,12231800,15003721,5Paisa,2019-08-19,NSE,BAJAJ-AUTO,buy,7,2750.95,0.0,0.571923,0.038513,0.109878,19.25665,3.0,2019-08-19 09:27:18
2,12231800,15003721,5Paisa,2019-08-19,NSE,RELIANCE,buy,10,1232.49,0.0,0.366050,0.024650,0.070326,12.32490,2.0,2019-08-19 12:40:29
3,12231800,15003721,5Paisa,2019-08-19,NSE,JIOFIN,buy-demerger,10,60.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12231800,15003721,5Paisa,2019-08-19,NSE,M&M,buy,1,533.85,0.0,0.015855,0.001068,0.003046,0.53385,0.0,2019-08-19 12:44:22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,12765333,26657514,Zerodha,2024-10-10 00:00:00,NSE,IOB,BUY,150,54.55,15.0,0.243020,0.016365,2.746689,8.18250,1.0,14:42:44
252,12765333,26657514,Zerodha,2024-10-10 00:00:00,NSE,GMDCLTD,BUY,25,326.40,15.0,0.242352,0.016320,2.746561,8.16000,1.0,15:20:53
253,12765333,26657514,Zerodha,2024-10-10 00:00:00,NSE,FLUOROCHEM,SELL,2,4585.00,15.0,0.272349,0.018340,2.752324,9.17000,0.0,10:12:49
254,12765333,26657514,Zerodha,2024-10-15 00:00:00,NSE,BAJAJHFL,BUY,13,138.47,15.0,0.053463,0.003600,2.710271,1.80011,0.0,11:12:49
255,12765333,26657514,Zerodha,2024-10-22 00:00:00,NSE,J&KBANK,SELL,35,93.55,15.0,0.097245,0.006548,2.718683,3.27425,0.0,12:12:49

In [3]:
stocks_data.keys()

Index(['DP ID', 'Client ID', 'Broker', 'Transaction Date', 'Exchange', 'Scrip',
       'Order Direction', 'Quantity', 'Share Price (₹)', 'Brokerage (₹)',
       'ETC (₹)', 'SEBI+ (₹)', 'GST (₹)', 'STT (₹)', 'SD (₹)',
       'Transaction Time'],
      dtype='object')

In [4]:
stocks_data.columns

Index(['DP ID', 'Client ID', 'Broker', 'Transaction Date', 'Exchange', 'Scrip',
       'Order Direction', 'Quantity', 'Share Price (₹)', 'Brokerage (₹)',
       'ETC (₹)', 'SEBI+ (₹)', 'GST (₹)', 'STT (₹)', 'SD (₹)',
       'Transaction Time'],
      dtype='object')

In [5]:
stocks_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DP ID             256 non-null    int64
 1   Client ID         256 non-null    int64
 2   Broker            256 non-null    object
 3   Transaction Date  256 non-null    object
 4   Exchange          256 non-null    object
 5   Scrip             256 non-null    object
 6   Order Direction   256 non-null    object
 7   Quantity          256 non-null    int64
 8   Share Price (₹)   256 non-null    float64
 9   Brokerage (₹)     252 non-null    float64
 10  ETC (₹)           249 non-null    float64
 11  SEBI+ (₹)         249 non-null    float64
 12  GST (₹)           252 non-null    float64
 13  STT (₹)           249 non-null    float64
 14  SD (₹)            252 non-null    float64
 15  Transaction Time  249 non-null    object
dtypes: float64(7), int64(3), object(6)
memory usage: 32.1+ KB

In [6]:
stocks_data['Scrip'].nunique()

123

In [7]:
sorted(stocks_data['Scrip'].unique().tolist())

['AARTIIND',
 'ACC',
 'ADANIPORTS',
 'ANANDRATHI',
 'ANGELONE',
 'ANURAS',
 'APOLLOTYRE',
 'ASIANPAINT',
 'ASTERDM',
 'ASTRAL',
 'ATL',
 'ATUL',
 'AUBANK',
 'BAJAJ-AUTO',
 'BAJAJFINSV',
 'BAJAJHFL',
 'BATAINDIA',
 'BAYERCROP',
 'BDL',
 'BEL',
 'BERGEPAINT',
 'BIRLACORPN',
 'CASTROLIND',
 'CEATLTD',
 'CENTURYPLY',
 'CERA',
 'CGCL',
 'CHAMBLFERT',
 'CHEMCRUX',
 'CHOLAFIN',
 'COCHINAIRPORT',
 'COCHINSHIP',
 'CONCOR',
 'CREDITACC',
 'CRISIL',
 'DATAPATTNS',
 'DEEPAKNTR',
 'DLF',
 'EIHOTEL',
 'EMAMILTD',
 'EMAMIREAL',
 'ENGINERSIN',
 'EQUITASBNK',
 'EXPLEOSOL',
 'FACT',
 'FLUOROCHEM',
 'GMDCLTD',
 'GOODYEAR',
 'GRSE',
 'GSPL',
 'HATSUN',
 'HBLPOWER',
 'HCLTECH',
 'HDFCBANK',
 'HDFCLIFE',
 'HEROFINCORP',
 'HEROMOTOCO',
 'HINDALCO',
 'HINDZINC',
 'ICICIGI',
 'INDIGO',
 'INFY',
 'IOB',
 'IRCTC',
 'IRFC',
 'ITC',
 'J&KBANK',
 'JBMA',
 'JIOFIN',
 'JKCEMENT',
 'JKTYRE',
 'JYOTHYLAB',
 'KOTAKBANK',
 'KSB',
 'LINDEINDIA',
 'LT',
 'LTIM',
 'LTTS',
 'M&M',
 'M&MFIN',
 'MAHSEAMLES',
 'MAXHEALTH',
 'MAZDOCK',
 'MCX',
 'MEDANTA',
 'MON100',
 'NAVINFLUOR',
 'NH',
 'NIITLTD',
 'PAYTM',
 'PERSISTENT',
 'PNBHOUSING',
 'POONAWALLA',
 'POWERGRID',
 'PRSMJOHNSN',
 'PVRINOX',
 'RAINBOW   ',
 'RAMCOCEM',
 'RAYMOND',
 'RCF',
 'RELIANCE',
 'RENUKA',
 'RHIM',
 'RKFORGE',
 'RVNL',
 'SBICARD',
 'SBILIFE',
 'SBIN',
 'SCHAEFFLER',
 'SONACOMS',
 'SPARC',
 'SSDL',
 'SUNDRMFAST',
 'SUNTECK',
 'SWIGGY',
 'SYNGENE',
 'TATASTEEL',
 'TCS',
 'TITAGARH',
 'TRIDENT',
 'WELCORP',
 'ZEEL',
 'ZFCVINDIA']

In [8]:
stocks_data.head()

,DP ID,Client ID,Broker,Transaction Date,Exchange,Scrip,Order Direction,Quantity,Share Price (₹),Brokerage (₹),ETC (₹),SEBI+ (₹),GST (₹),STT (₹),SD (₹),Transaction Time
0,12231800,15003721,5Paisa,2019-07-11,NSE,INDIGO,buy,10,1360.10,0.0,0.403950,0.027202,0.077607,13.60100,2.0,2019-07-11 15:04:10
1,12231800,15003721,5Paisa,2019-08-19,NSE,BAJAJ-AUTO,buy,7,2750.95,0.0,0.571923,0.038513,0.109878,19.25665,3.0,2019-08-19 09:27:18
2,12231800,15003721,5Paisa,2019-08-19,NSE,RELIANCE,buy,10,1232.49,0.0,0.366050,0.024650,0.070326,12.32490,2.0,2019-08-19 12:40:29
3,12231800,15003721,5Paisa,2019-08-19,NSE,JIOFIN,buy-demerger,10,60.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12231800,15003721,5Paisa,2019-08-19,NSE,M&M,buy,1,533.85,0.0,0.015855,0.001068,0.003046,0.53385,0.0,2019-08-19 12:44:22

In [9]:
stocks_data.tail(10)

,DP ID,Client ID,Broker,Transaction Date,Exchange,Scrip,Order Direction,Quantity,Share Price (₹),Brokerage (₹),ETC (₹),SEBI+ (₹),GST (₹),STT (₹),SD (₹),Transaction Time
246,12765333,26657514,Zerodha,2024-10-10 00:00:00,NSE,TITAGARH,BUY,9,1080.00,15.0,0.288684,0.019440,2.755462,9.72000,1.0,15:23:55
247,12765333,26657514,Zerodha,2024-10-10 00:00:00,NSE,RCF,BUY,50,183.75,15.0,0.272869,0.018375,2.752424,9.18750,1.0,15:20:15
248,12765333,26657514,Zerodha,2024-10-10 00:00:00,NSE,ENGINERSIN,BUY,30,200.30,15.0,0.178467,0.012018,2.734287,6.00900,1.0,15:25:09
249,12765333,26657514,Zerodha,2024-10-10 00:00:00,NSE,RVNL,BUY,20,481.40,15.0,0.285952,0.019256,2.754937,9.62800,1.0,15:23:06
250,12765333,26657514,Zerodha,2024-10-10 00:00:00,NSE,AARTIIND,BUY,12,527.90,15.0,0.188144,0.012670,2.736146,6.33480,1.0,15:29:34
251,12765333,26657514,Zerodha,2024-10-10 00:00:00,NSE,IOB,BUY,150,54.55,15.0,0.243020,0.016365,2.746689,8.18250,1.0,14:42:44
252,12765333,26657514,Zerodha,2024-10-10 00:00:00,NSE,GMDCLTD,BUY,25,326.40,15.0,0.242352,0.016320,2.746561,8.16000,1.0,15:20:53
253,12765333,26657514,Zerodha,2024-10-10 00:00:00,NSE,FLUOROCHEM,SELL,2,4585.00,15.0,0.272349,0.018340,2.752324,9.17000,0.0,10:12:49
254,12765333,26657514,Zerodha,2024-10-15 00:00:00,NSE,BAJAJHFL,BUY,13,138.47,15.0,0.053463,0.003600,2.710271,1.80011,0.0,11:12:49
255,12765333,26657514,Zerodha,2024-10-22 00:00:00,NSE,J&KBANK,SELL,35,93.55,15.0,0.097245,0.006548,2.718683,3.27425,0.0,12:12:49

In [10]:
column_list = ['Transaction Date', 'Scrip', 'Order Direction', 'Quantity', 'Share Price (₹)', 'Brokerage (₹)', 'ETC (₹)', 'SEBI+ (₹)', 'GST (₹)', 'STT (₹)', 'SD (₹)']
stocks_data[column_list].tail()

,Transaction Date,Scrip,Order Direction,Quantity,Share Price (₹),Brokerage (₹),ETC (₹),SEBI+ (₹),GST (₹),STT (₹),SD (₹)
251,2024-10-10 00:00:00,IOB,BUY,150,54.55,15.0,0.243020,0.016365,2.746689,8.18250,1.0
252,2024-10-10 00:00:00,GMDCLTD,BUY,25,326.40,15.0,0.242352,0.016320,2.746561,8.16000,1.0
253,2024-10-10 00:00:00,FLUOROCHEM,SELL,2,4585.00,15.0,0.272349,0.018340,2.752324,9.17000,0.0
254,2024-10-15 00:00:00,BAJAJHFL,BUY,13,138.47,15.0,0.053463,0.003600,2.710271,1.80011,0.0
255,2024-10-22 00:00:00,J&KBANK,SELL,35,93.55,15.0,0.097245,0.006548,2.718683,3.27425,0.0

In [11]:
stocks_data['Transaction Date'].value_counts().head(10)

Transaction Date
2024-05-22 00:00:00    37
2024-05-27 00:00:00    26
2024-06-04 00:00:00    18
2024-07-16 00:00:00    16
2019-08-19             11
2024-10-10 00:00:00     8
2024-05-29 00:00:00     7
2024-07-30 00:00:00     6
2024-07-26 00:00:00     6
2024-08-05 00:00:00     5
Name: count, dtype: int64

In [12]:
stocks_data.rename(
    {'Transaction Date': 'txn_date', 
     'Scrip': 'scrip', 
     'Order Direction': 'order_type', 
     'Quantity': 'quantity', 
     'Share Price (₹)': 'price', 
     'Brokerage (₹)': 'charges_brokerage', 
     'ETC (₹)': 'charges_etc', 
     'SEBI+ (₹)': 'charges_sebi', 
     'GST (₹)': 'charges_gst', 
     'STT (₹)': 'charges_stt', 
     'SD (₹)': 'charges_sd'}, 
        axis=1, inplace=True)

stocks_data.drop(columns=['DP ID', 'Client ID', 'Broker', 'Exchange', 'Transaction Time'], axis=1, inplace=True)

In [13]:
stocks_data.tail()

,txn_date,scrip,order_type,quantity,price,charges_brokerage,charges_etc,charges_sebi,charges_gst,charges_stt,charges_sd
251,2024-10-10 00:00:00,IOB,BUY,150,54.55,15.0,0.243020,0.016365,2.746689,8.18250,1.0
252,2024-10-10 00:00:00,GMDCLTD,BUY,25,326.40,15.0,0.242352,0.016320,2.746561,8.16000,1.0
253,2024-10-10 00:00:00,FLUOROCHEM,SELL,2,4585.00,15.0,0.272349,0.018340,2.752324,9.17000,0.0
254,2024-10-15 00:00:00,BAJAJHFL,BUY,13,138.47,15.0,0.053463,0.003600,2.710271,1.80011,0.0
255,2024-10-22 00:00:00,J&KBANK,SELL,35,93.55,15.0,0.097245,0.006548,2.718683,3.27425,0.0

In [14]:
stocks_data.loc[:, 'charges_brokerage':'charges_sd'].tail()

,charges_brokerage,charges_etc,charges_sebi,charges_gst,charges_stt,charges_sd
251,15.0,0.243020,0.016365,2.746689,8.18250,1.0
252,15.0,0.242352,0.016320,2.746561,8.16000,1.0
253,15.0,0.272349,0.018340,2.752324,9.17000,0.0
254,15.0,0.053463,0.003600,2.710271,1.80011,0.0
255,15.0,0.097245,0.006548,2.718683,3.27425,0.0

In [15]:
import re
charges = list(filter(lambda f: re.match(r"charges_\w+", f), stocks_data.keys()))
stocks_data[charges].tail()

,charges_brokerage,charges_etc,charges_sebi,charges_gst,charges_stt,charges_sd
251,15.0,0.243020,0.016365,2.746689,8.18250,1.0
252,15.0,0.242352,0.016320,2.746561,8.16000,1.0
253,15.0,0.272349,0.018340,2.752324,9.17000,0.0
254,15.0,0.053463,0.003600,2.710271,1.80011,0.0
255,15.0,0.097245,0.006548,2.718683,3.27425,0.0

In [16]:
buy_or_sell_factor = stocks_data['order_type'].str.lower().map({'buy': 1, 'sell': -1}).fillna(0)
stocks_data['nett_charges'] = stocks_data[charges].sum(axis=1) * buy_or_sell_factor
stocks_data['nett_charges']

0      16.109759
1      22.976964
2      14.785925
3       0.000000
4       0.553819
         ...
251    27.188575
252    27.165233
253   -27.213013
254    19.567445
255   -21.096727
Name: nett_charges, Length: 256, dtype: float64

In [17]:
stocks_data['nett_trade_value'] = round(stocks_data['quantity'] * stocks_data['price'] + stocks_data['nett_charges'],2)
brief_table = ['txn_date', 'order_type', 'scrip', 'quantity', 'price', 'nett_charges', 'nett_trade_value']
stocks_data[brief_table]

,txn_date,order_type,scrip,quantity,price,nett_charges,nett_trade_value
0,2019-07-11,buy,INDIGO,10,1360.10,16.109759,13617.11
1,2019-08-19,buy,BAJAJ-AUTO,7,2750.95,22.976964,19279.63
2,2019-08-19,buy,RELIANCE,10,1232.49,14.785925,12339.69
3,2019-08-19,buy-demerger,JIOFIN,10,60.51,0.000000,605.10
4,2019-08-19,buy,M&M,1,533.85,0.553819,534.40
...,...,...,...,...,...,...,...
251,2024-10-10 00:00:00,BUY,IOB,150,54.55,27.188575,8209.69
252,2024-10-10 00:00:00,BUY,GMDCLTD,25,326.40,27.165233,8187.17
253,2024-10-10 00:00:00,SELL,FLUOROCHEM,2,4585.00,-27.213013,9142.79
254,2024-10-15 00:00:00,BUY,BAJAJHFL,13,138.47,19.567445,1819.68
255,2024-10-22 00:00:00,SELL,J&KBANK,35,93.55,-21.096727,3253.15

In [18]:
buy_transactions = stocks_data[list(map(lambda val: 'buy' in val.lower(), stocks_data['order_type']))][brief_table]
buy_transactions['nett_trade_value'].sum()

977201.9199999999

In [19]:
sell_transactions = stocks_data[list(map(lambda val: 'sell' in val.lower(), stocks_data['order_type']))][brief_table]

pd.Series(
    abs(sell_transactions['nett_trade_value'].sum() - buy_transactions['nett_trade_value'].sum()), 
    index=['Nett Trade (₹):'])

Nett Trade (₹):    684291.37
dtype: float64

In [20]:
"shape: [stocks_data: {}, buy_transactions: {}, sell_transactions: {}]".format(stocks_data.shape, buy_transactions.shape, sell_transactions.shape)

'shape: [stocks_data: (256, 13), buy_transactions: (199, 7), sell_transactions: (57, 7)]'